body {
    width: 100vw;
    height: 100vh;
}

#main-content-wrapper {}

#left-sidebar {}

#right-sidebar {}

.pixel-grid-container {
    max-width: 100%;
    max-height: 100%;
}

#pixel-form {
    max-width: 100%;

}

.pixel-grid-container .pixel-row {
    flex: auto;
    flex-wrap: nowrap;
    padding: 0;
}

.pixel-grid-container .pixel-row .pixel-box {
    width: fit-content;
    padding: 0;
}

.pixel-grid-container .pixel-row .pixel-box .pixel-input {
    width: 90%;
    height: 100%;
}